
* {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	  scroll-padding: 3.5rem;
  }

  nav {
	background-color: #333;
	padding: 10px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .logo {
	color: #fff;
	font-size: 1.5rem;
  }
  
  .menu-toggle {
	display: none;
	cursor: pointer;
  }
  
  .hamburger {
	width: 25px;
	height: 3px;
	background-color: #fff;
	margin: 5px;
  }
  
  .menu {
	list-style-type: none;
	display: flex;
  }
  
  .menu li {
	margin-right: 10px;
  }
  
  .menu a {
	text-decoration: none;
	color: #fff;
  }
  
  h2{
	margin-top: 20px;
	text-align: center;
  }

  p{
	text-align: center;
	line-height: 30px;
  }
  .summary {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 20px;
	width: 80%;
  }
  
  .summary img {
	max-width: 100%; /* Ensures the image fits the size of the container */
	height: auto;
  }
  
  img{
	width: 30%;
  }
  
  .card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center; /* Center the cards horizontally */
	gap: 20px;
	padding: 40px;
  }
  
  
  .card {
	width: 250px;
	background-color: #f9f9f9;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease-in-out;
  }
  
  .card:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
	width: 100%;
	height: auto;
	transition: transform 0.3s ease-in-out;
  }
  
  .card:hover img {
	transform: scale(1.1);
  }
  
  .card-content {
	padding: 10px;
  }
  
  .card-content i {
	font-size: 24px;
	color: #333;
  }
  
  .card-content p {
	margin-top: 10px;
	color: #555;
  }
  #contact p{
	text-align: center;
  }
  
  .social {
	display: flex;
  justify-content: center;}
  
  .social a {
  
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin: 22px 10px;
	text-decoration: none;
	font-size: 40px;
  }
  
  @media screen and (max-width: 768px) {
	.menu {
	  display: none;
	  flex-direction: column;
	  position: absolute;
	  top: 50px;
	  left: 0;
	  width: 100%;
	  background-color: #333;
	}
  
	.menu.active {
	  display: flex;
	}
  
	.menu-toggle {
	  display: block;
	}
  
	.menu.active {
	  display: flex;
	  flex-direction: column;
	  position: absolute;
	  top: 50px;
	  left: 0;
	  width: 100%;
	  background-color: #333;
	}
  
	.menu.active li {
	  margin: 10px 0;
	}

	p{
		line-height: normal;
	}

	.profile{
		width: 30%;
	}
  }
  